{% comment %}

    Bootstrap collapse feature, https://getbootstrap.com/docs/5.3/components/collapse/

    e.g. --> {% include feature/collapse.html button="Learn More" color="success" text="Such an interesting story!" %}

    Options:
    - "button" = text of the button that triggers the collapse to open (required)
    - "text" = text inside the collapse, Markdown is supported (required, hint: use a capture statement to add more complex text!)
    - "color" = color for the trigger button (optional). Use a Bootstrap color key like "success" or a raw hex code like "#15454D". Default: '#15454D'.
   
{%- endcomment -%}
{% assign collapse_color = include.color | default: '#15454D' %}
{% assign collapse_button_class = 'btn' %}
{% assign collapse_button_style = '' %}
{% if collapse_color contains '#' %}
    {% assign collapse_button_style = 'background-color: ' | append: collapse_color | append: '; border-color: ' | append: collapse_color | append: '; color: #fff;' %}
{% else %}
    {% assign collapse_button_class = collapse_button_class | append: ' btn-' | append: collapse_color %}
{% endif %}
<p>
    <button class="{{ collapse_button_class }}" style="{{ collapse_button_style }}" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ include.button | slugify }}" aria-expanded="false" aria-controls="collapse{{ include.button | slugify }}">
        {{ include.button }}
    </button>
</p>
<div class="collapse narrow-content mb-3" id="collapse{{ include.button | slugify }}">
    <div class="card card-body">
    {{ include.text | markdownify }}
    </div>
</div>